<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qryl.qrylyh">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".global.QRYLHLApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.login.LoginActivity"></activity>
        <activity android:name=".activity.login.RegisterActivity" />
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.login.FinishActivity" />
        <activity android:name=".activity.login.complete.ChooseAreaActivity" />
        <activity android:name=".activity.login.complete.HsCompleteInfoActivity" />
        <activity android:name=".activity.login.complete.YsCompleteInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.login.complete.HgCompleteInfoActivity" />
        <activity android:name=".activity.login.complete.TnCompleteInfoActivity" />
        <activity android:name=".activity.login.complete.HgCompletePicActivity">
            <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.qryl.qrylyh.activity.login.complete.fileprovider"
                android:exported="true"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
            </provider>
        </activity>
        <activity android:name=".activity.login.complete.HospitalActivity" />
        <activity android:name=".activity.login.complete.OfficeActivity" />
        <activity android:name=".activity.login.complete.LocationActivity" />
        <activity android:name=".activity.login.complete.BeGoodAtWorkActivity"></activity>
    </application>

</manifest>